@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  width: 100%;
}

.product-like {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 999;
  color: #fff;
  width: 25px;
  height: 25px;
  background-color: #7d7d7d;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}
.product-like i {
  color: #fff !important;
}

.active-like {
  background-color: #ce1b1b;
}
.active-like i {
  color: #fff !important;
}

.top-header {
  padding: 10px;
}
.top-header .border-bottom {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.top-header .info span:first-child {
  padding: 10px 0px 10px 10px;
}
.top-header .info span:last-child {
  padding: 10px 10px 10px 0px;
}
.top-header .info i {
  color: #00732f;
  margin-left: 5px;
}
.top-header .social {
  text-align: left;
}
.top-header .social i {
  color: #555;
  margin-right: 5px;
  transition: all 0.5s ease;
}
.top-header .social i:hover {
  color: #00732f;
}

.top-header {
  padding: 10px;
}
.top-header .border-bottom {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.top-header .info span:first-child {
  padding: 0px 0px 0px 10px;
  border-left: 1px solid #ddd;
}
.top-header .info span:last-child {
  padding: 10px 10px 10px 0px;
}
.top-header .info i {
  color: #00732f;
  margin-left: 5px;
}
.top-header .social {
  text-align: left;
}
.top-header .social i {
  color: #555;
  margin-right: 5px;
  transition: all 0.5s ease;
}
.top-header .social i:hover {
  color: #00732f;
}
.top-header .social .lang {
  color: #535353;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  display: inline-block;
}

.upper-nav {
  padding: 5px;
}
.upper-nav .logo {
  margin-top: -10px;
}
.upper-nav .logo img {
  width: 111px;
  height: 109px;
}
.upper-nav .logo span {
  font-weight: bold;
}
.upper-nav .login {
  padding-top: 10px;
  margin-bottom: 0;
}
.upper-nav .login ul li {
  padding: 10px;
  display: inline-block;
}
.upper-nav .login ul li .btn-login {
  color: #444;
}
.upper-nav .login ul li .btn-login i {
  font-size: 14px;
  color: #00732f;
  margin-left: 5px;
}
.upper-nav .login ul li .btn-rigister {
  border: 2px solid #00732f;
  color: #00732f;
}
.upper-nav .login ul li .btn-rigister i {
  font-size: 14px;
  color: #00732f;
  margin-left: 5px;
}
.upper-nav .login ul li .btn-rigister:hover {
  background-color: #00732f;
  color: #fff;
  border: 2px solid #00732f;
}
.upper-nav .login ul li .btn-rigister:hover i {
  color: #fff;
}
.upper-nav .login ul li .btn-add-ads {
  background-color: #00732f;
  border: 2px solid #00732f;
  color: #fff;
}
.upper-nav .login ul li .btn-add-ads:hover {
  background-color: #fff;
  border: 2px solid #00732f;
  color: #00732f;
}
.upper-nav .login ul li:last-child {
  border-right: 1px solid #ddd;
}

.header {
  height: 394px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 50px;
}

.search-bar {
  width: 100%;
  position: absolute;
  top: -30px;
}
.search-bar form {
  background-color: #00732f;
  height: 80px;
  padding: 20px;
  border-radius: 8px;
}
.search-bar form .row .col-lg-5,
.search-bar form .row .col-lg-3,
.search-bar form .row .col-lg-2,
.search-bar form .row .col-lg-1 {
  padding-left: 5px;
  padding-right: 5px;
}
.search-bar form .form-group {
  position: relative;
}
.search-bar form .form-group .form-control {
  border-radius: 5px;
  border: 0;
  height: calc(1.5em + 0.75rem + 10px);
  font-size: 15px;
}
.search-bar form .form-group .select-control {
  padding-right: 25px;
}
.search-bar form img {
  position: absolute;
  top: 18.2%;
  margin-right: 5px;
  width: 8.5%;
  z-index: 2;
}
.search-bar form .car-select {
  width: 13% !important;
}
.search-bar form .car-select,
.search-bar form .all-mark {
  right: 1%;
}
.search-bar form .btn {
  border: 0;
  border-radius: 5px;
  padding: 0 !important;
  height: calc(1.5em + 0.75rem + 10px);
  width: 100%;
  background-color: #ce1b1b;
}
.search-bar form .btn i {
  color: #fff;
}

.main-department {
  margin-top: 37px;
}
.main-department .row .col-lg {
  padding-left: 5px;
  padding-right: 5px;
}
.main-department .card {
  text-align: center;
  padding: 0;
  border: 0;
  text-decoration: none;
  overflow: hidden;
}
.main-department .card .card-img {
  background-color: #f3f3f3;
  height: 108px;
  line-height: 108px;
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  position: relative;
  overflow: hidden;
  transition: all 0.5 ease-in-out;
}
.main-department .card .card-img img {
  width: auto;
  height: auto;
  margin: auto;
  transition: all 0.5 ease-in-out;
}
.main-department .card .card-img .img-hover {
  position: absolute;
  left: -100px;
}
.main-department .card .card-title {
  margin-top: 7px;
  transition: all 0.5 ease-in-out;
  color: #000;
}
.main-department .card:hover .card-img {
  border: 1px solid #00732f;
  background-color: transparent;
}
.main-department .card:hover .card-img .img-original {
  display: none;
}
.main-department .card:hover .card-img .img-hover {
  position: unset;
}
.main-department .card:hover .card-title {
  color: #00732f;
}

.special-ads {
  margin-top: 80px;
}
.special-ads .special-ads-main-card {
  border: 1px solid #edebf4;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.special-ads .new-ads-header {
  background-color: #f5f5f5;
  padding: 14px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.special-ads .new-ads-header h5 {
  font-size: 16px;
  color: #00732f;
  margin-top: 5px;
}
.special-ads .new-ads-slider .slider-item {
  overflow: hidden;
  margin-bottom: 20px;
  padding: 5px;
}
.special-ads .new-ads-slider .slider-item:focus {
  outline: 0;
}
.special-ads .new-ads-slider .slider-item .card {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ececec;
}
.special-ads .new-ads-slider .slider-item .card .card-img {
  padding: 8px;
}
.special-ads .new-ads-slider .slider-item .card .card-img img {
  height: 150px;
}
.special-ads .new-ads-slider .slider-item .card .card-body .card-text {
  color: #69be45;
}
.special-ads .new-ads-slider .slider-item .card .card-body .card-title h5 {
  color: #000 !important;
}
.special-ads .new-ads-slider .slider-item .card .card-body .card-title h5 a {
  color: #000 !important;
  text-decoration: none !important;
}
.special-ads .new-ads-slider .slider-item .card .card-body .card-departm {
  margin-top: 10px;
  width: 50%;
  float: right;
}
.special-ads .new-ads-slider .slider-item .card .card-body .card-departm a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
.special-ads .new-ads-slider .slider-item .card .card-body .card-departm i {
  float: right;
  margin-left: 5px;
  margin-top: 5px;
}
.special-ads .new-ads-slider .slider-item .card .card-body .card-departm img {
  width: 18px;
  float: right;
  margin-left: 5px;
}
.special-ads .new-ads-slider .slider-item .card .card-footer {
  background-color: #ececec;
}
.special-ads .new-ads-slider .slider-item .card .card-footer .price {
  margin-right: 40px;
  color: #00732f;
}
.special-ads .new-ads-slider .slick-dots {
  text-align: center;
}
.special-ads .new-ads-slider .slick-dots li {
  width: 10px !important;
}
.special-ads .new-ads-slider .slick-dots li button {
  width: 5px !important;
  height: 5px !important;
  background-color: #c7c7c7;
  border-radius: 50%;
}
.special-ads .new-ads-slider .slick-dots li button::before {
  content: none !important;
}
.special-ads .new-ads-slider .slick-dots .slick-active button {
  background-color: #00732f;
}
.special-ads .new-ads-slider .slick-dots .slick-active button::before {
  content: none !important;
}

.departments-side-bar .departments {
  margin-top: 10px;
  padding-bottom: 50px;
}
.departments-side-bar .departments .department-slider .slider-item {
  padding: 10px;
}
.departments-side-bar .departments .department-slider .slider-item:focus {
  outline: 0 !important;
}
.departments-side-bar .departments .department-slider .slider-item .card .depar-links {
  outline: 0 !important;
}
.departments-side-bar .departments .card-active {
  background-color: #fff;
  padding: 10px;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 1px solid #000;
}
.departments-side-bar .departments .card {
  margin-top: 40px;
  border: 0;
  border-radius: 0;
  position: relative;
  padding-bottom: 40px;
  height: 195px;
  transition: all 0.4s ease-in-out;
  border-bottom: 3px solid #ce1b1b;
  margin-bottom: 40px;
}
.departments-side-bar .departments .card .card-header {
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 8px;
  padding-top: 10px;
  position: relative;
  background-color: #ce1b1b;
}
.departments-side-bar .departments .card .card-header h5 {
  display: inline-block;
}
.departments-side-bar .departments .card .card-header h5 span {
  font-size: 17px;
}
.departments-side-bar .departments .card .card-header h5 img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.departments-side-bar .departments .card .card-header .number {
  position: absolute;
  left: 10px;
  border: 1px solid #fff;
  width: 50px;
  text-align: center;
  border-radius: 5px;
}
.departments-side-bar .departments .card .card-body {
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.departments-side-bar .departments .card .card-body .depar-links:hover {
  background-color: #1c75bc;
  color: #fff;
}
.departments-side-bar .departments .card .plus {
  position: absolute;
  bottom: -25px;
  left: 20px;
  cursor: pointer;
  transition: all 1s ease-in-out;
  display: block;
  outline: 0 !important;
}
.departments-side-bar .departments .card .plus i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #ce1b1b;
}
.departments-side-bar .departments .slick-dots {
  text-align: center;
}
.departments-side-bar .departments .slick-dots li {
  width: 10px !important;
}
.departments-side-bar .departments .slick-dots li button {
  width: 5px !important;
  height: 5px !important;
  background-color: #c7c7c7;
  border-radius: 50%;
}
.departments-side-bar .departments .slick-dots li button::before {
  content: none !important;
}
.departments-side-bar .departments .slick-dots .slick-active button {
  background-color: #00732f;
}
.departments-side-bar .departments .slick-dots .slick-active button::before {
  content: none !important;
}
.departments-side-bar .ads-now {
  position: relative;
}
.departments-side-bar .ads-now .nav-pills {
  position: absolute;
  top: 7px;
  left: 5px;
}
.departments-side-bar .ads-now .nav-pills .nav-link {
  background-color: #fff;
  color: #626262;
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 10px;
  font-size: 14px;
}
.departments-side-bar .ads-now .nav-pills .active {
  background-color: #626262;
  color: #fff;
}
.departments-side-bar .ads-now .head {
  text-align: right;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  padding: 10px;
}
.departments-side-bar .ads-now .card {
  background-color: #f6f8fa;
  border: 0;
}
.departments-side-bar .ads-now .card .card-img img {
  height: 181px;
}
.departments-side-bar .ads-now .card .card-title {
  font-size: 18px;
  padding: 20px 20px 0 0;
  color: #000 !important;
}
.departments-side-bar .ads-now .card .card-title a {
  color: #000 !important;
  text-decoration: none;
}
.departments-side-bar .ads-now .card .card-title a:hover {
  color: #00732f !important;
}
.departments-side-bar .ads-now .card span {
  display: inline-block;
  margin-left: 25px;
  padding: 20px 20px 0 0;
  color: #666;
}
.departments-side-bar .ads-now .card span i {
  margin-left: 5px;
}
.departments-side-bar .ads-now .card .card-body {
  padding: 0;
}
.departments-side-bar .ads-now .name {
  color: #00732f;
  padding: 5px 20px 0 0;
}
.departments-side-bar .ads-now .key-words {
  background-color: #efefef;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px !important;
}
.departments-side-bar .ads-now .key-words span {
  padding-top: 0 !important;
  margin: 0;
}
.departments-side-bar .ads-now .key-words .last {
  position: absolute;
  left: 2%;
  color: #20ba4a;
  font-weight: bold;
}
.departments-side-bar .ads-now .btn-add-more {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
}
.departments-side-bar .place-ads .most-search-header {
  background-color: #00732f;
  text-align: right;
  color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  padding: 0;
}
.departments-side-bar .place-ads .most-search-header h5 {
  line-height: 50px;
  font-size: 16px;
}
.departments-side-bar .place-ads .car-model .head {
  text-align: right;
  border: 1px solid #eee;
  background-color: #ddd;
  padding: 10px;
}
.departments-side-bar .place-ads .car-model .car-model-img img {
  width: 70px;
  height: 70px;
  margin: 5px;
  border: 1px solid #ddd;
}
.departments-side-bar .most-search .most-search-header {
  background-color: #00732f;
  text-align: right;
  color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  padding: 0;
}
.departments-side-bar .most-search .most-search-header h5 {
  line-height: 50px;
  font-size: 16px;
}
.departments-side-bar .most-search .card {
  border: 0;
}
.departments-side-bar .most-search .card-space-ads {
  margin-top: 20px;
  text-align: center;
  height: 420px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/add-space.png");
}
.departments-side-bar .most-search .card-space-ads h6 {
  line-height: 420px;
  color: #fff;
}
.departments-side-bar .most-search .card-space-ads-2 {
  height: 211px;
}
.departments-side-bar .most-search .card-space-ads-2 h6 {
  line-height: 211px;
}

.new-ads-most-search {
  margin-top: 80px;
}
.new-ads-most-search .most-search .most-search-header {
  background-color: #f5f5f5;
  height: 50px;
  text-align: right;
  color: #626262;
}
.new-ads-most-search .most-search .most-search-header h5 {
  line-height: 50px;
  font-size: 20px;
}
.new-ads-most-search .most-search .card {
  border: 0;
}
.new-ads-most-search .most-search .card-space-ads {
  margin-top: 20px;
  text-align: center;
  height: 420px;
  background-color: #fbfbfb;
}
.new-ads-most-search .most-search .card-space-ads h6 {
  line-height: 420px;
}
.new-ads-most-search .most-search .card-space-ads-2 {
  height: 211px;
}
.new-ads-most-search .most-search .card-space-ads-2 h6 {
  line-height: 211px;
}
.new-ads-most-search .new-ads .card {
  border: 1px solid #e9e9e9;
  margin-top: 20px;
}
.new-ads-most-search .new-ads .card .card-title {
  font-size: 18px;
}
.new-ads-most-search .new-ads .card .card-img {
  padding: 10px;
  position: relative;
}
.new-ads-most-search .new-ads .card .card-img .special-add {
  background-color: #fff;
  position: absolute;
  padding: 6px;
  color: #00732f;
  border-radius: 5px;
  top: 30px;
  right: 30px;
  font-size: 14px;
}
.new-ads-most-search .new-ads .card .card-departm {
  float: right;
  width: 33.3333%;
  margin-top: 10px;
}
.new-ads-most-search .new-ads .card .card-departm a {
  color: #626262;
  text-decoration: none;
  font-size: 15px;
}
.new-ads-most-search .new-ads .card .card-departm a .name {
  color: #69be45;
}
.new-ads-most-search .new-ads .card .card-departm img {
  width: 20px;
}
.new-ads-most-search .new-ads .card .card-footer {
  border: 0;
  background-color: #ececec;
}
.new-ads-most-search .new-ads .card .card-footer .price {
  position: absolute;
  left: 5%;
  color: #00732f;
}
.new-ads-most-search .new-ads .card-ads-space {
  border: 0;
  margin-top: 20px;
  text-align: center;
  height: 191px;
  background-color: #fbfbfb;
}
.new-ads-most-search .new-ads .card-ads-space h6 {
  line-height: 191px;
}

footer {
  background-color: #000;
}
footer .logo-content-logo {
  padding-right: 10px;
}
footer .logo {
  text-align: right;
  position: relative;
  color: #fff;
}
footer .logo img {
  width: auto;
  height: auto;
  max-width: 146px;
  max-height: 146px;
}
footer .logo .logo-content {
  text-align: right;
}
footer .logo .logo-content p {
  margin: 0;
}
footer .help-content {
  padding-right: 90px;
  padding-top: 10px;
}
footer .help-content ul li {
  margin-top: 15px;
  position: relative;
  padding-right: 10px;
}
footer .help-content ul li::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #00732f;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
footer .social-content {
  padding-right: 90px;
  padding-top: 10px;
}
footer .social-content .social i {
  display: inline-block;
  color: #fff;
  line-height: 30px;
  text-align: center;
  margin-right: 15px;
  transition: all 0.5s ease;
  font-size: 20px;
}
footer .social-content .social i:hover {
  color: #00732f;
}
footer .social-content input {
  padding: 8px;
  background-color: #fff;
  border: 0;
  width: 100%;
  color: #444 !important;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}
footer .social-content input::placeholder {
  color: #444;
  opacity: 1;
  /* Firefox */
}
footer .social-content button {
  border: 0 !important;
  border: 1px solid #00732f;
  background-color: #00732f;
  padding: 8px;
  width: 100%;
  margin-top: 10px;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
footer .social-content button:hover {
  background-color: #06162a;
}
footer .copy {
  background-color: #000;
  padding: 20px;
  position: relative;
}
footer .copy .container {
  border-top: 1px solid #9f9f9f;
  padding-top: 10px;
}
footer .copy h5 {
  margin: 0;
  font-size: 15px;
  color: #fff;
  margin-top: 20px;
  float: right;
}
footer .copy .logo-funun {
  width: 50%;
  float: left;
  text-align: left;
}
footer .copy .logo-funun img {
  width: 20%;
}

.path {
  text-align: right;
  background-color: #ddd;
  padding: 20px;
}
.path span::before {
  font-family: "Font Awesome 5 Free";
  margin-left: 6px;
  margin-right: 6px;
  content: "";
  font-weight: 900;
  font-size: 13px;
}
.path .first::before {
  content: "" !important;
}
.path a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
}
.path a:hover {
  color: #00732f;
}

.login {
  margin-bottom: 100px;
}
.login ul {
  text-align: left;
}
.login .login-head {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  margin-bottom: 30px;
}
.login .login-form {
  background-color: #fff;
  width: 60%;
  margin: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 40px;
}
.login .login-form .form-group .form-control {
  height: 50px;
}
.login .login-form .form-check label {
  font-size: 14px;
  font-weight: bold;
}
.login .login-form .txt-l {
  text-align: left;
}
.login .login-form .txt-l a {
  color: #00732f;
  font-size: 15px;
}
.login .login-form .btn-login {
  margin-top: 30px;
  text-align: center;
}
.login .login-form .btn-login .btn {
  background-color: #00732f;
  color: #fff;
  padding: 11px;
}
.login .login-form .txt-c {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.login .login-form .txt-c a {
  color: #00732f;
}

.login {
  text-align: right;
}
.login .hello {
  margin-right: 119px !important;
}
.login .hello i {
  color: #00732f;
}

.rigister {
  margin-bottom: 100px;
}
.rigister .rigister-head {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  margin-bottom: 30px;
}
.rigister .rigister-form {
  background-color: #fff;
  width: 60%;
  margin: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 40px;
}
.rigister .rigister-form .form-check {
  font-weight: bold;
  font-size: 14px;
}
.rigister .rigister-form .form-check a {
  color: #00732f;
}
.rigister .rigister-form .btn-login {
  margin-top: 30px;
  text-align: center;
}
.rigister .rigister-form .btn-login .btn {
  background-color: #00732f;
  color: #fff;
  padding: 11px;
}

.notifaction-page {
  margin-bottom: 90px;
}
.notifaction-page .notification-page-header {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  position: relative;
}
.notifaction-page .notification-cards {
  margin-top: 40px;
}
.notifaction-page .notification-cards .card {
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 0;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding-left: 10px;
  border-radius: 5px;
}
.notifaction-page .notification-cards .card .notification-name {
  color: #00732f;
  text-decoration: none;
}
.notifaction-page .notification-cards .card .notification-place {
  color: #69be45;
  text-decoration: none;
}
.notifaction-page .notification-cards .card i {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #00732f;
  text-align: center;
  line-height: 55px;
  color: #fff;
  position: absolute;
  right: 20px;
  top: 60%;
  transform: translate(0, -60%);
}
.notifaction-page .notification-cards .card .card-text {
  margin-right: 90px;
  margin-top: 15px;
  line-height: 28px;
  font-size: 18px;
}

.my-account .my-account-navs {
  border: 1px solid #f5f5f5;
  margin-top: 50px;
  border-radius: 6px;
}
.my-account .my-account-navs .card-header {
  background-color: #f5f5f5;
  font-size: 18px;
  border-bottom: 0;
  height: 60px;
  line-height: 60px;
  padding: 0;
  padding-right: 10px;
}
.my-account .my-account-navs .nav-link {
  padding: 0px;
  padding: 0 20px 0 20px;
  line-height: 65px;
  border-bottom: 1px solid #f5f5f5;
  border-radius: 0;
  color: #555;
  font-size: 15px;
  height: 65px;
}
.my-account .my-account-navs .nav-link img {
  width: 20px;
  margin-left: 5px;
}
.my-account .my-account-navs .active {
  background-color: unset;
}
.my-account .log-out {
  margin-top: 10px;
}
.my-account .log-out .btn {
  background-color: #00732f;
  color: #fff;
  width: 100%;
}
.my-account .tab-content {
  margin-top: 50px;
}
.my-account .tab-content .most-search-header {
  background-color: #f5f5f5;
  height: 50px;
  text-align: right;
  color: #626262;
  border-radius: 8px;
}
.my-account .tab-content .most-search-header h5 {
  line-height: 50px;
  font-size: 17px;
}
.my-account .tab-content .account-info-form {
  margin-top: 30px;
}
.my-account .tab-content .account-info-form .form-group label {
  font-size: 15px;
}
.my-account .tab-content .account-info-form .form-group .form-control {
  height: calc(1.5em + 0.75rem + 6px);
}
.my-account .tab-content .account-info-form .btn-submit {
  text-align: center;
  margin-top: 10px;
}
.my-account .tab-content .account-info-form .btn-submit .btn {
  background-color: #00732f;
  color: #fff;
  width: 40%;
}
.my-account .messages .card {
  border: 1px solid #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  margin-top: 25px;
}
.my-account .messages .card h5 {
  font-size: 15px;
}
.my-account .messages .card p {
  font-size: 13px;
  color: #626262;
}

.search-and-search-result .card-search {
  margin-top: 50px;
}
.search-and-search-result .card-search .card-header {
  border: 0;
  margin-bottom: 10px;
}
.search-and-search-result .card-search .search-form {
  padding: 10px;
}
.search-and-search-result .card-search .search-form .form-group .form-control {
  font-size: 13px;
}
.search-and-search-result .card-search .search-form .btn-submit .btn {
  background-color: #00732f;
  color: #fff;
  width: 100%;
  margin-top: 10px;
}
.search-and-search-result .new-ads-most-search {
  margin-top: 50px !important;
}
.search-and-search-result .new-ads-most-search .pagination {
  float: left;
}
.search-and-search-result .new-ads-most-search .pagination .page-item .page-link {
  border: 0;
  color: #103D6F;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  padding: 0;
  margin-left: 5px;
}
.search-and-search-result .new-ads-most-search .pagination .page-item .active {
  background-color: #00732f;
  border-radius: 50%;
  color: #fff;
}
.search-and-search-result .arange {
  position: absolute;
  top: 10px;
  left: 40px;
}
.search-and-search-result .arange span {
  font-size: 15px;
}
.search-and-search-result .arange .select-arrange {
  border-radius: 5px;
  border: 0;
  width: 150px;
  font-size: 13px;
  padding: 5px;
}

.show-ads .slider-top {
  margin-top: -14px;
}
.show-ads .slider-top .item-slide {
  position: relative;
}
.show-ads .slider-top .item-slide img {
  width: 100%;
  margin: auto;
  height: 400px;
  max-height: auto;
}
.show-ads .slider-top .item-slide:focus {
  outline: 0 !important;
}
.show-ads .slider-top .item-slide .special-ads {
  z-index: 3;
  display: inline-block;
  position: absolute;
  background-color: #68bb2b;
  border: 1px solid #68bb2b;
  width: 60px;
  padding: 10px !important;
  text-align: center;
  color: #fff;
  left: 2%;
  top: -12%;
}
.show-ads .slider-top .slick-prev {
  left: 3%;
  z-index: 99;
}
.show-ads .slider-top .slick-prev::before {
  content: "";
  font-size: 15px;
  background-color: #000 !important;
}
.show-ads .slider-top .slick-next {
  right: 5%;
  bottom: 0;
}
.show-ads .slider-top .slick-next::before {
  content: "";
  font-size: 15px;
  background-color: #000 !important;
}
.show-ads .slider-bottom {
  margin-top: 10px;
}
.show-ads .slider-bottom .slick-track {
  transform: translate(0) !important;
}
.show-ads .slider-bottom .item-slide {
  height: 130px;
  background-size: cover;
  background-position: center;
}
.show-ads .slider-bottom .item-slide:focus {
  outline: 0 !important;
}
.show-ads .department-links a {
  font-size: 14px;
  margin-left: 5px;
  background-color: #c5c5c5;
  color: #fff;
  border-radius: 5px;
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  margin-bottom: 5px;
}
.show-ads .ads-info .ads-header {
  position: relative;
  margin-top: 40px;
}
.show-ads .ads-info .ads-header .share-add {
  position: absolute;
  left: 0;
  top: -10px;
}
.show-ads .ads-info .ads-header .share-add a {
  color: #585858;
}
.show-ads .ads-info .ads-header .share-add a i {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #c5c5c5;
  color: #ce1b1b;
  text-align: center;
  line-height: 53px;
  font-size: 20px;
}
.show-ads .ads-info .ads-header .header-ads {
  margin-top: 15px;
  font-size: 20px;
}
.show-ads .ads-info .ads-header .ads-information {
  margin-top: 80px;
  background-color: #f7f7f7;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.show-ads .ads-info .ads-header .ads-information i {
  color: #585858;
  margin-left: 5px;
}
.show-ads .ads-info .ads-header .ads-information a {
  color: #585858;
  font-size: 14px;
}
.show-ads .ads-info .table-infor {
  margin-top: 40px;
}
.show-ads .ads-info .table-infor .table {
  margin-bottom: 0 !important;
}
.show-ads .ads-info .table-infor td {
  padding-right: 40px !important;
}
.show-ads .ads-info .table-infor td .question {
  font-weight: bold;
}
.show-ads .ads-info .table-infor h6 {
  font-size: 22px;
  color: #00732f;
  padding-right: 20px;
  padding-top: 10px;
  margin: 10px 0px 20px 0px;
}
.show-ads .ads-info .table-infor .table-word {
  margin: 0 !important;
  padding: 0 !important;
}
.show-ads .ads-info .table-infor .options-btn a {
  display: inline-block;
  margin-top: 10px;
  padding: 0;
  line-height: 65px;
  background-color: #f7f7f7;
  width: 100%;
  height: 65px;
}
.show-ads .ads-info .table-infor .options-btn a i {
  margin-left: 5px;
  color: #444;
}
.show-ads .ads-info .table-infor .options-btn a:hover {
  background-color: #00732f;
  color: #fff;
}
.show-ads .ads-info .table-infor .options-btn a:hover i {
  color: #fff;
}
.show-ads .ads-info .table-infor .descr h6 {
  font-size: 22px;
  padding-right: 20px;
  padding-top: 10px;
  color: #00732f;
  margin: 10px 0px 20px 0px;
}
.show-ads .ads-info .table-infor .descr .desr-par {
  color: #444;
  line-height: 30px;
}
.show-ads .ads-info .contact-data {
  border: 1px solid #ddd;
  margin-top: 20px;
}
.show-ads .ads-info .contact-data .card-header {
  border: 0;
}
.show-ads .ads-info .contact-data h6 {
  font-size: 22px;
  padding-right: 20px;
  padding-top: 10px;
  color: #00732f;
  margin: 10px 0px 20px 0px;
}
.show-ads .ads-info .contact-data ul {
  padding: 0;
  padding-right: 20px;
}
.show-ads .ads-info .contact-data ul li {
  display: inline-block;
  margin-left: 20px;
}
.show-ads .ads-info .contact-data ul li i {
  font-size: 20px;
  margin-left: 10px;
  color: #444;
}
.show-ads .ads-info .contact-data ul li span {
  font-size: 20px;
  color: #444;
}
.show-ads .ads-info .social-media {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.show-ads .ads-info .social-media span {
  margin-top: 35px;
  display: inline-block;
  width: 15%;
}
.show-ads .ads-info .social-media span i {
  color: #888;
  font-size: 30px;
}
.show-ads .ads-info .social-media span i:hover {
  color: #00732f;
}
.show-ads .ads-info form {
  margin-top: 50px;
}
.show-ads .ads-info form input {
  border: 0;
  border: 1px solid #ddd;
  padding: 10px;
}
.show-ads .ads-info form button {
  padding: 10px;
  background-color: #00732f;
  border: 0;
  border: 1px solid #00732f;
  color: #fff;
}
.show-ads .comments .rebort {
  display: inline-block;
  color: #00732f;
  margin-bottom: 10px;
}
.show-ads .comments .rebort span {
  font-size: 13px;
  margin-right: 2px;
}
.show-ads .comments h6 {
  font-size: 25px;
  padding-right: 20px;
  color: #00732f;
  padding-top: 10px;
  margin: 10px 0px 20px 0px;
  position: relative;
}
.show-ads .comments h6 i {
  color: #00732f;
  font-size: 25px;
}
.show-ads .comments .on-comment {
  border: 1px solid #eee;
  position: relative;
  padding: 15px;
  padding-right: 15px;
  padding-bottom: 2px !important;
}
.show-ads .comments .on-comment .com-name {
  font-size: 15px;
  font-weight: bold;
}
.show-ads .comments .on-comment .com-word {
  font-size: 14px;
  color: #888;
}
.show-ads .comments .on-comment .time {
  position: absolute;
  top: 10%;
  left: 1%;
  font-size: 10px;
  color: #444;
}
.show-ads .add-comment {
  position: relative;
  margin-top: 40px;
  padding-top: 30px;
}
.show-ads .add-comment::before {
  position: absolute;
  content: "";
  top: -1%;
  width: 100%;
  height: 2px;
  background-color: #eee;
}
.show-ads .add-comment .head-comment-add {
  color: #1c75bc;
  width: 15%;
  background-color: #fff;
  border: 1px solid #fff;
  position: absolute;
  top: -5%;
  left: 45%;
  text-align: center;
  font-size: 15px;
}
.show-ads .add-comment .comment-form {
  margin-top: 0;
}
.show-ads .add-comment .comment-form .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  height: calc(1.5em + 0.75rem + 10px);
}
.show-ads .add-comment .comment-form .form-control::placeholder {
  font-size: 13px;
}
.show-ads .add-comment .comment-form .comment-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  background-color: #f4f4f4;
}
.show-ads .add-comment .comment-form .comment-textarea::placeholder {
  font-size: 13px;
}
.show-ads .add-comment .comment-form button {
  border: 1px solid #00732f;
  background-color: #00732f;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}
.show-ads .related-ads {
  margin-top: 30px;
}
.show-ads .related-ads .top-price {
  display: inline-block;
  color: #fff;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  border: 1px solid #bac6d3;
  background-color: #bac6d3;
}
.show-ads .related-ads h6 {
  margin-top: 15px;
  font-size: 22px;
  color: #00732f;
}
.show-ads .related-ads h6 i {
  color: #2b79c3;
  font-size: 25px;
}
.show-ads .related-ads .card {
  margin-top: 20px;
}
.show-ads .related-ads .card .card-img {
  padding: 10px;
}
.show-ads .related-ads .card .card-img img {
  transition: all 0.5s ease;
  height: 150px;
}
.show-ads .related-ads .card .card-img img:hover {
  filter: grayscale(100%);
}
.show-ads .related-ads .card .card-body {
  padding: 10px;
}
.show-ads .related-ads .card .card-body .card-departm {
  margin-top: 10px;
  width: 50%;
  float: right;
}
.show-ads .related-ads .card .card-body .card-departm a {
  color: #000;
}
.show-ads .related-ads .card .card-body .card-departm span {
  font-size: 14px;
}
.show-ads .related-ads .card .card-body .card-departm img {
  width: 15px;
}
.show-ads .related-ads .card .card-body .card-title {
  margin: 0;
  font-size: 17px;
}
.show-ads .related-ads .card .card-body .card-title a {
  color: #00732f;
  text-decoration: none;
}
.show-ads .related-ads .card .card-body .card-title a:hover {
  color: #00732f !important;
}
.show-ads .related-ads .card .card-body .card-text {
  margin: 0;
}
.show-ads .related-ads .card .card-body .card-text a {
  color: #69be45;
  text-decoration: none;
  font-size: 14px;
}
.show-ads .related-ads .card .card-footer {
  padding: 0;
  padding: 10px;
}
.show-ads .related-ads .card .card-footer .price {
  margin-right: 60px;
  color: #d7127b;
}
.show-ads .related-ads .card-person-info {
  text-align: center;
  padding: 20px;
  padding-bottom: 10px;
}
.show-ads .related-ads .card-person-info .card-img {
  width: 65px;
  height: 65px;
  margin: auto;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.show-ads .related-ads .card-person-info .card-title {
  font-size: 22px;
}
.show-ads .related-ads .card-person-info .rate i {
  color: #00732f;
}
.show-ads .related-ads .card-person-info .btn {
  background-color: #20ba4a;
  color: #fff;
  margin-top: 10px;
  padding: 11px;
}
.show-ads .related-ads .send-msg {
  margin-top: 10px;
}
.show-ads .related-ads .send-msg a {
  background-color: #00732f;
  color: #fff;
  padding: 11px;
}

.add-ads-add {
  width: 100%;
  margin: auto;
  margin-bottom: 80px;
}
.add-ads-add .card-header {
  margin-top: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  border: 0;
  border-radius: 6px;
  background-color: #f5f5f5;
  padding: 15px;
}
.add-ads-add form {
  text-align: right;
  margin-top: 20px;
}
.add-ads-add form input,
.add-ads-add form select,
.add-ads-add form textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #ddd;
}
.add-ads-add form input::placeholder,
.add-ads-add form select::placeholder,
.add-ads-add form textarea::placeholder {
  font-size: 13px;
}
.add-ads-add form select {
  background-color: transparent;
  padding: 5px !important;
  color: #444;
  font-size: 14px;
  border-radius: 10px;
}
.add-ads-add form input[type=file] {
  border: 0;
  margin-top: 0;
}
.add-ads-add form .add-pic {
  color: #00732f;
  margin-top: 20px;
  font-weight: bold;
}
.add-ads-add form button[type=submit] {
  border: 1px solid #00732f;
  background-color: #00732f;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
}
.add-ads-add .form-group label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}
.add-ads-add .form-group .form-control {
  border-radius: 6px;
}
.add-ads-add .add-iframe {
  border-radius: 6px;
  width: 100%;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.add-ads-add .btn-add-submit {
  width: 150px;
}

.my-profile form {
  margin-top: 0 !important;
}
.my-profile h5 {
  text-align: right;
  margin-top: 60px;
  color: #00732f;
  font-weight: bold;
}

.my-ads {
  text-align: right;
  margin-bottom: 150px;
}
.my-ads .card {
  border: 0;
  margin-top: 50px !important;
}
.my-ads .card img {
  height: 200px;
}
.my-ads .card .card-body {
  background-color: #f7f6fa;
  height: 100%;
  padding: 0 !important;
  position: relative;
}
.my-ads .card .card-body h5 {
  font-size: 18px;
  color: #44474b;
  padding: 20px;
}
.my-ads .card .card-body span {
  margin-left: 20px;
  font-size: 13px;
  color: #00732f;
  padding: 20px;
}
.my-ads .card .card-body span i {
  font-size: 12px;
  margin-left: 10px;
  color: #00732f;
}
.my-ads .card .card-body .controls {
  background-color: #efebf9;
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  padding-right: 20px;
}
.my-ads .card .card-body .controls .button-controls {
  background-color: #00732f;
  border: 1px solid #00732f;
  color: #fff;
}
.my-ads .card .card-body .controls .price {
  position: absolute;
  left: 3%;
  top: 0%;
  line-height: 60px;
  font-size: 16px;
  color: #00732f;
}

.edit-ads {
  text-align: right;
  margin-top: 70px;
  margin-bottom: 80px;
}
.edit-ads form input,
.edit-ads form select {
  height: calc(2.5em + 0.75rem + 2px);
}
.edit-ads form label {
  color: #00732f;
  font-weight: bold;
}
.edit-ads form select {
  font-size: 14px;
}
.edit-ads form input {
  font-size: 14px;
}
.edit-ads form .file-upload label {
  margin-bottom: 0 !important;
}
.edit-ads form .img-from-file img {
  width: 20%;
}
.edit-ads form button {
  color: #fff;
  background-color: #00732f;
  border: 1px solid #00732f;
  padding: 10px;
}

.my-inbox {
  text-align: right;
  margin-top: 60px;
  margin-bottom: 120px;
}
.my-inbox .card {
  margin-top: 20px;
}
.my-inbox .card .card-header {
  background-color: #00732f !important;
  color: #fff;
  font-size: 18px;
}
.my-inbox .card .card-body .card-title,
.my-inbox .card .card-body .card-text {
  font-size: 15px;
}
.my-inbox .card .card-body .card-title i,
.my-inbox .card .card-body .card-text i {
  margin-left: 5px;
  color: #00732f;
}
.my-inbox .card .card-body .btn-danger {
  font-size: 13px;
}
.my-inbox .card .card-body .btn-danger i {
  margin-left: 5px;
}

.blacklist {
  text-align: right;
  margin-top: 90px;
  margin-bottom: 180px;
}
.blacklist h5 {
  color: #00732f;
  font-size: 25px;
}
.blacklist p {
  font-size: 15px;
}
.blacklist form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}
.blacklist form input::placeholder {
  font-size: 14px;
}
.blacklist form button {
  margin-top: 15px;
  width: 120px;
  background-color: #00732f;
  border: 1px solid #00732f;
  color: #fff;
  padding: 10px;
}

.who-us {
  margin-top: 80px;
  margin-bottom: 90px;
  text-align: right;
}
.who-us .who-header {
  color: #00732f;
  font-size: 25px;
  margin-bottom: 25px;
}
.who-us p {
  color: #777;
  line-height: 40px;
}
.who-us p .big-word {
  color: #00732f;
  font-size: 23px;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .car-model .car-model-img img {
    width: 60px !important;
    height: 60px !important;
    margin: 3px !important;
  }
}
@media (max-width: 800px) {
  .upper-nav .login ul {
    text-align: right;
  }

  .upper-nav .login .hello {
    margin-right: 30px !important;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .upper-nav .login {
    text-align: right;
  }
  .upper-nav .my-account-option {
    width: 100%;
  }

  .search-bar form {
    height: auto;
  }
  .search-bar form .car-select {
    width: 7% !important;
  }
  .search-bar form .row .col-lg-5,
.search-bar form .row .col-lg-3,
.search-bar form .row .col-lg-2,
.search-bar form .row .col-lg-1 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .search-bar form img {
    top: 14.2%;
  }
  .search-bar form .car-select,
.search-bar form .all-mark {
    right: 3%;
  }

  .copy {
    height: auto !important;
  }
  .copy .logo-funun {
    text-align: right !important;
  }

  .related-ads .card .card-img img {
    height: 300px !important;
  }

  .main-department .row .col-lg {
    padding-left: 15px;
    padding-right: 15px;
  }

  .login {
    text-align: right;
  }

  .login .login-form .txt-l {
    text-align: center;
  }

  footer .help-content {
    padding-right: 0;
  }

  footer .copy .logo-funun {
    width: 100%;
    margin-top: 20px;
  }

  .new-ads-most-search .pagination {
    width: 100%;
    overflow: auto;
  }
}
@media (max-width: 524px) {
  .upper-nav .login ul {
    text-align: center;
  }

  .upper-nav .login ul li:last-child {
    border: 0;
  }

  .upper-nav .login .hello {
    margin-right: 0px !important;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .top-header {
    text-align: center;
  }

  .top-header .social {
    text-align: center;
    margin-top: 10px;
  }

  .upper-nav .logo {
    text-align: center;
  }

  .search-bar form {
    height: auto;
  }
  .search-bar form .row .col-lg-5,
.search-bar form .row .col-lg-3,
.search-bar form .row .col-lg-1 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .search-bar form img {
    width: 7%;
  }

  .related-ads .card .card-img img {
    height: 200px !important;
  }

  .show-ads .ads-info .ads-header .share-add {
    position: unset;
  }
  .show-ads .ads-info .ads-header .share-add a {
    display: block;
  }

  .show-ads .slider-top .item-slide img {
    height: 280px !important;
  }

  .show-ads .ads-info .ads-header .ads-information {
    margin-top: 20px;
  }

  .special-ads .new-ads-slider .slider-item .card .card-img img {
    height: auto;
  }

  .show-ads .slider-top .item-slide img {
    height: auto;
  }

  .show-ads .slider-bottom .item-slide {
    height: 80px;
  }

  .show-ads .slider-top .slick-arrow {
    top: 80%;
  }

  .show-ads .slider-top .slick-next {
    right: 5%;
  }

  .show-ads .slider-top .slick-prev::before,
.show-ads .slider-top .slick-next::before {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
  }

  .login .login-form,
.login .rigister-form,
.rigister .login-form,
.rigister .rigister-form {
    padding: 10px;
    width: 100%;
  }

  footer .social-content {
    padding-right: 0;
  }

  .notifaction-page .card {
    padding-right: 20px;
    padding-top: 30px !important;
  }
  .notifaction-page i {
    position: unset !important;
    margin-top: 20px;
    margin-bottom: -20px;
  }
  .notifaction-page .card-text {
    margin: 0 !important;
    margin-top: 0 !important;
  }

  .car-model .car-model-img img {
    width: 17% !important;
    height: 61px !important;
    margin: 2px !important;
  }
}
@media (max-width: 375px) {
  .car-model .car-model-img img {
    width: 22% !important;
    height: 66px !important;
    margin: 2px !important;
  }
}
.departments-side-bar .departments .card .card-body .depar-links, .departments-side-bar .most-search .card .card-body .depar-links, .new-ads-most-search .most-search .card .card-body .depar-links {
  display: inline-block;
  font-size: 13px;
  color: #626262;
  background-color: #ececec;
  padding: 8px;
  border-radius: 5px;
  margin-top: 5px;
  text-decoration: none;
  margin-left: 6px;
  transition: 0.5s;
}

.show-ads .slider-top .slick-prev::before, .show-ads .slider-top .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.show-ads .slider-top .slick-prev::before, .show-ads .slider-top .slick-next::before {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #00732f;
}

/*# sourceMappingURL=style.css.map */
